{% extends 'home/home.html' %}
{% load static %}

{% block content %}

<div class="col-md-11 p-4 boxtext1 c">
    <h1 class="c">Estudios</h1>
</div>

<div class="col-md-11 p-4 boxtext1 c">
<h1 class="ms-4">Eliminar Estudio</h1>
    <div class="card-body">
        <p>Estas seguro de eliminar El Estudio </p>
        <h4><strong>"{{item.name}}"</strong></h4>
    </div>

    <form action="{% url 'deleteStudie' item.id %}" method="POST">
        {% csrf_token %}
        <div class="col-lg-6 mx-auto row ">
            <div class="container col-lg-5 mt-4 mb-4 ">
                <a class="btn btn-info btn-block" href="{% url 'studies' %}">CANCELAR</a>
            </div>
            <div class="container col-lg-5 mt-4 mb-4 ">
                <input class="btn btn-success btn-block" type="submit" value="ELIMINAR">
            </div>
        </div>
    </form>

</div>

<script>
    function goBack() {
    window.history.back();
    }
</script>

{% endblock content %}
