{% extends 'home/home.html' %}
{% load static %}

{% block content %}

    <div class="col-md-11 p-4 boxtext1 c">
        <h1 class="c">Estudios</h1>
    </div>

    <div class="col-md-11 p-4 boxtext1">
    <h1 class="ms-4">University</h1>
        <div class="row">
            {% for U in univ %}
            <div class="col-md-4 mb-4">
                <div class="card boxtext1" >
                    <div class="card-body m-4">
                        <div class="card-subtitle">
                            <h6 class="card-text">
                                {% if U.yearStart %}
                                    {{ U.monthStart }} {{ U.yearStart }} - 
                                {% endif %}
                                {{ U.monthEnd }} {{ U.yearEnd }}
                            </h6>
                        </div>
                        <h4 class="card-title mt-1">{{U.institution}}</h4>
                        <h5 class="card-text">{{U.name}}</h5>
                        <h6 class="card-text">{{U.remark}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{U.city}} {{U.state}} {{U.country}}</h6>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="col-lg-6 mx-auto row ">
                        <div class="container col-lg-6 mb-4">
                            <td><a href="{% url 'editStudie' U.id %}" class="btn btn-info btn-sm">Modificar</a></td>
                        </div>
                        <div class="container col-lg-6 mb-4">
                            <td><a href="{% url 'deleteStudie' U.id %}" class="btn btn-danger btn-sm">Eliminar</a></td>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-11 p-4 boxtext1">
    <h1 class="ms-4">Technical</h1>
        <div class="row">
            {% for U in tech %}
            <div class="col-md-4 mb-4">
                <div class="card boxtext1" >
                    <div class="card-body m-4">
                        <div class="card-subtitle">
                            <h6 class="card-text">
                                {% if U.yearStart %}
                                    {{ U.monthStart }} {{ U.yearStart }} - 
                                {% endif %}
                                {{ U.monthEnd }} {{ U.yearEnd }}
                            </h6>
                        </div>
                        <h4 class="card-title mt-1">{{U.institution}}</h4>
                        <h5 class="card-text">{{U.name}}</h5>
                        <h6 class="card-text">{{U.remark}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{U.city}} {{U.state}} {{U.country}}</h6>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="col-lg-6 mx-auto row ">
                        <div class="container col-lg-6 mb-4">
                            <td><a href="{% url 'editStudie' U.id %}" class="btn btn-info btn-sm">Modificar</a></td>
                        </div>
                        <div class="container col-lg-6 mb-4">
                            <td><a href="{% url 'deleteStudie' U.id %}" class="btn btn-danger btn-sm">Eliminar</a></td>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-11 p-4 boxtext1">
    <h1 class="ms-4">Other</h1>
        <div class="row">
            {% for U in other %}
            <div class="col-md-4 mb-4">
                <div class="card boxtext1" >
                    <div class="card-body m-4">
                        <div class="card-subtitle">
                            <h6 class="card-text">
                                {% if U.yearStart %}
                                    {{ U.monthStart }} {{ U.yearStart }} - 
                                {% endif %}
                                {{ U.monthEnd }} {{ U.yearEnd }}
                            </h6>
                        </div>
                        <h4 class="card-title mt-1">{{U.institution}}</h4>
                        <h5 class="card-text">{{U.name}}</h5>
                        <h6 class="card-text">{{U.remark}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{U.city}} {{U.state}} {{U.country}}</h6>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="col-lg-6 mx-auto row ">
                        <div class="container col-lg-6 mb-4">
                            <td><a href="{% url 'editStudie' U.id %}" class="btn btn-info btn-sm">Modificar</a></td>
                        </div>
                        <div class="container col-lg-6 mb-4">
                            <td><a href="{% url 'deleteStudie' U.id %}" class="btn btn-danger btn-sm">Eliminar</a></td>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}
