{% extends 'home/home.html' %}
{% load static %}

{% block content %}

    <div class="col-md-11 p-4 boxtext1 c">
        {% include 'home/quiensoy.html' %}
    </div>

    <div class="col-md-11 p-4 boxtext1 c">
        {% include 'home/quiensoy.html' %}
    </div>

    <div class="col-md-11 p-4 boxtext1 c">
        {% include 'home/quiensoy.html' %}
    </div>
    <div class="col-md-11 p-4 boxtext1 c">
        {% include 'home/quiensoy.html' %}
    </div>
    <div class="col-md-11 p-4 boxtext1 c">
        {% include 'home/quiensoy.html' %}
    </div>

{% endblock content %}
