<h3>Quien Soy</h3>
<h6>
    Me considero una persona dedicada y aficionada a la cultura y el conocimiento, 
    me gradué de bachiller como el 128 mejor Bachiller de Colombia en el año 1985,
    Estudie 2 semestres de Bellas Artes en la Universidad Nacional de Colombia como Asistente 
    y 7 semestres de Arquitectura en la Universidad Católica de Colombia,
    pero solo sigo siendo un bachiller..., 
    Ahora, estoy aprendiendo programación en diferentes lenguajes y considero que aqui esta mi aficion.
</h6>
