{% extends 'home/home.html' %}
{% load static %}

{% block content %}

    <div class="col-md-11 p-4 boxtext1 c">
        <h1 class="c">Skills</h1>
    </div>

    <div class="col-md-11 p-4 boxtext1">
        <div class="row">
            {% for skl in skills %}
            <div class="col-md-3 m-4 boxtext1">
                <div class="m-5">
                    <h4>{{skl.skill}}</h4>
                    <h6>{{skl.description}}</h6>
                    <h6 class="text-muted">{{skl.dominium}}%</h6>
                    {% if user.is_authenticated %}
                    <div class="col-lg-12 row ">
                        <div class="container col-lg-4">
                            <td><a href="{% url 'editSkill' skl.id %}" class="btn btn-info btn-sm">Update</a></td>
                        </div>
                        <div class="container col-lg-4">
                            <td><a href="{% url 'deleteSkill' skl.id %}" class="btn btn-danger btn-sm">Delete</a></td>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}
