{% extends 'home/home.html' %}
{% load static %}

{% block content %}

<div class="col-md-11 p-4 boxtext1 c">
    <h1 class="c">Work Experience</h1>
</div>

<div class="col-md-11 p-4 boxtext1 c">
<h1 class="ms-4">Update Experience</h1>

    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
                <div class="col-md-8 mx-auto">
            <div class="card boxtext1" >
                <div class="card-body row mt-4">
                    <div class="col-md-4 mx-auto">
                        <label>Month Started :</label>
                        {{experienceForm.monthStart}}
                    </div>
                    <div class="col-md-4 mx-auto">
                        <label>Year Started :</label>
                        {{experienceForm.yearStart}}
                    </div>
                </div>
                <div class="card-body row">
                    <div class="col-md-4 mx-auto">
                        <label>Month Ended :</label>
                        {{experienceForm.monthEnd}}
                    </div>
                    <div class="col-md-4 mx-auto">
                        <label>Year Ended :</label>
                        {{experienceForm.yearEnd}}
                    </div>
                </div>
                <div class="card-body row">
                    <div class="col-md-4 mx-auto">
                        <label>Company :</label>
                        {{experienceForm.institution}}
                    </div>
                    <div class="col-md-4 mx-auto">
                        <label>Position :</label>
                        {{experienceForm.name}}
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-md-8 mx-auto c">
                        <label>Description :</label>
                        {{experienceForm.description}}
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-md-4 mx-auto">
                        <label>City :</label>
                        {{experienceForm.city}}
                    </div>
                </div>
                <div class="card-body row mb-4">
                    <div class="col-md-4 mx-auto">
                        <label>State :</label>
                        {{experienceForm.state}}
                    </div>
                    <div class="col-md-4 mx-auto">
                        <label>Country :</label>
                        {{experienceForm.country}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mx-auto row ">
            <div class="container col-lg-5 mt-4 mb-4 ">
                <button class="btn btn-success btn-block" onclick="goBack()">Cancel</button>
            </div>

            <div class="container col-lg-5 mt-4 mb-4 ">
                <input class="btn btn-success btn-block" type="submit" value="Update">
            </div>
        </div>
    </form>
</div>

<script>
    function goBack() {
    window.history.back();
    }
</script>

{% endblock content %}
